.container{
    display: flex;
    justify-content: center;
    background-color: rgb(114, 115, 116);
    padding: 10px 0;
    justify-content: space-around;
    align-items: center;
}
.container a h1{
    background-color: rgb(19, 118, 193);
    padding: 3px 5px;
    border-radius: 5px;
    color: white;
    
}
.container a{
    text-decoration: none;
}
.ul{
    display: flex;
    justify-content: space-between;
    margin: 2% 0;
    list-style: none;
}
.item{
    margin: 0 10px;
    font-size: larger;
}
.item a{
    color: white;
    text-decoration: none;
}
.item a:hover{
    color: rgb(19, 118, 193);
    cursor: pointer;
    transition: .3s;
}