*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
html, body, #root{
  background-color: #efefef;
  height: 100%;
}
button{
  padding: 10px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  align-content: center;
}